
2024Light/.ipynb_checkpoints/base_line_tiny-checkpoint.ipynb
2024_Demo/~$Лекция Опыт ирит-ртф в  ИИ.pptx
.DS_Store
2024_Demo/.ipynb_checkpoints/AILightingTransferLearning-checkpoint.ipynb
2024_Demo/.ipynb_checkpoints/WS8_YOLOv8 API-checkpoint.ipynb
2025 DL+CV/.ipynb_checkpoints/WS7_YOLOv8 API-checkpoint.ipynb
